.game{
    display:grid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}